---
layout: layout.liquid
title: API Lab
---
<div >
    <div x-data="{ image: $fetchjson('https://dummyjson.com/products/7', jsonItem='thumbnail')}">
        <h3 class="font-bold text-xl">Microsoft Surface - $2.99</h3>
        <img class= "mx-auto shadow-xl rounded-md" alt="thumbnail" x-bind:src="image" />
    </div>
    <div x-data="{ image: $fetchjson('https://dummyjson.com/products/25', jsonItem='thumbnail')}">
        <h3 class="font-bold text-xl">Magic Healing Powder (Legit) - $7.49</h3>
        <img class= "mx-auto shadow-xl rounded-md" alt="thumbnail" x-bind:src="image" />
    </div>
</div>