---
title: API Lab
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans text-center">
  <h1 class="font-bold text-6xl">Welcome to G-Bay! </h1>
  <h3 class="text-2xl">Suspicously Low Prices on Select Items!</h3>
    {{ content }}
</body>
</html>